<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h3>hi</h3>
    <input type="text" id="id1" />
    <input type="text" id="id2" />
    <button type="button">Click</button>


</body>
</html>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/jquery-3.5.1.js"></script>
<script src="~/Script/Transaction.js"></script>